@font-face {
  font-family: "DS-Digital";

  src: url("DS-DIGI.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*Header*/
.header{
  font-family: "Ds-Digital";
  color: black;
  background-color: #3C677B;
  font-size: xx-large;
}

/*Side Bar*/
/* The sidebar menu */
.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color:#3a84a7; 
  overflow-x: hidden; 
  padding-top: 20px;
}


.sidenav a {
  font-family: "Ds-Digital";
  font-weight: bold;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
}

/*Barra*/
.barra{
  width: 100%;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(214, 226, 231);
}

/*text*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

#hourG{
  grid-column: HOURS;
  border-radius: 100%;
}

#minsG{
  grid-column: MINS;
  border-radius: 100%;
}

.form__group{
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas:
    "HOURS MINS"; 
}

.form__label {
  
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: #f0efef;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

/*Select*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);


.select-box {
  cursor: pointer;
  position : relative;
  max-width:  20em;
  width: 100%;
  padding: 0px 10px;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box1 {
  background: #ececec;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}
.open .label::after {
   content: "▲";
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff;
}

/*Button*/

a.btn {
  font-family: Arial;
  position: relative;
  left: 20%;
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

	a.btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* blue button */

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

